<!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>김군화넷</title>

    <link rel = "stylesheet" type="text/css" href = "Stylesheet/community.css"/>
    <link rel = "stylesheet" type="text/css" href = "Stylesheet/css_set.css"/>

  </head>

<body>
    <%- include ("header")%>

    <div id="wrapper">
        <div class="comm_head">
            <div class="head_in">
                <div class="head_img">
                    <img class="img01" src="" alt="mark">
                </div>

                <div class="banner">
                    <span class="head_text">3사단(18,22,23,포병 여단)</span>

                    <div>
                        <img class="img02" src="icon/crown.svg">
                        <span>4.0 (128개 리뷰)</span>
                    </div>
                </div>

                <button type="button" id="review">
                    <a href="#" target="" title=""><span>이 사단 리뷰하기</span></a>
                </button>
                
            </div>
        </div>

        <div class="subMenu">
            <div class="menuArea">
                <ul class="menu">
                    <li><a href="#" target="" title="">리뷰</a></li>
                    <li><a href="#" target="" title="">커뮤니티</a></li>
                    <li><a href="#" target="" title="">주변생활</a></li>
                </ul>
            </div>
        </div>

        <div class="wrap">
            <div class="wrap_L">

                <div class="search">
                    <span class="search_commu">3사단 커뮤니티</span>

                    <input id="keyword" name="keyword" type="search" placeholder="키워드로 검색해보세요."
                    autocomplete="off" class="inp-srch wrap-srch on">

                    <div class="recommen_k">
                        <span class="recomm">추천 키워드</span>
                        <span>3사단</span>
                        <span>휴가</span>
                        <span>3사단 조교</span>
                        <span>일과</span>
                        <span>3사단</span>
                        <span>휴가</span>
                        <span>3사단 조교</span>
                        <span>일과</span>
                        <span>3사단</span>
                        <span>휴가</span>
                        <span>3사단 조교</span>
                        <span>일과</span>
                        <span>3사단</span>
                        <span>휴가</span>
                    </div>
                </div>

                <div class="community">                    
                    <div>
                        <select>
                            <option value="id">전체 복무 상태</option>
                            <option value="pop">...</option>
                            <option value="pop">...</option>
                        </select>

                        <select>
                            <option value="id">최신순</option>
                            <option value="pop">추천순</option>
                            <option value="old">오래된 순</option>
                            <option value="low">평점 높은 순</option>
                            <option value="high">평점 낮은 순</option>
                        </select>
                    </div>
                    <div>
                        <div class="comm01">
                            <span class="title">3사단 일과</span>

                            <p>밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요 밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 진짜 좋아요 군대에 또 오고 싶을 정도에요</br>
                                밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요 밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 진짜 좋아요 군대에 또 오고 싶을 정도에요
                                밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요.
                            </p>
                            
                            <div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>1,950</span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>5</span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border"></div>
                    <div>
                        <div class="comm01">
                            <span class="title">3사단 일과</span>

                            <p>밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요 밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 진짜 좋아요 군대에 또 오고 싶을 정도에요</br>
                                밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요 밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 진짜 좋아요 군대에 또 오고 싶을 정도에요
                                밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요.
                            </p>
                            
                            <div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>1,950</span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>5</span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border"></div>
                    <div>
                        <div class="comm01">
                            <span class="title">3사단 일과</span>

                            <p>밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요 밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 진짜 좋아요 군대에 또 오고 싶을 정도에요</br>
                                밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요 밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 진짜 좋아요 군대에 또 오고 싶을 정도에요
                                밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요.
                            </p>
                            
                            <div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>1,950</span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>5</span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border"></div>
                    <div>
                        <div class="comm01">
                            <span class="title">3사단 일과</span>

                            <p>밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요 밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 진짜 좋아요 군대에 또 오고 싶을 정도에요</br>
                                밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요 밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 진짜 좋아요 군대에 또 오고 싶을 정도에요
                                밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요.
                            </p>
                            
                            <div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>1,950</span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>5</span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border"></div>
                    <div>
                        <div class="comm01">
                            <span class="title">3사단 일과</span>

                            <p>밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요 밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 진짜 좋아요 군대에 또 오고 싶을 정도에요</br>
                                밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요 밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 진짜 좋아요 군대에 또 오고 싶을 정도에요
                                밥이 정말 맛있어요... 취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요밥이 정말 맛있어요... 
                                취사병과 사랑에 빠졌습니다..... 
                                진짜 좋아요 군대에 또 오고 싶을 정도에요.
                            </p>
                            
                            <div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>1,950</span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>5</span>
                                </div>
                                <div class="flo">
                                    <img class="img02" src="icon/crown.svg">
                                    <span>6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>

            </div>

            <div class="wrap_R">
                <div class="comm_info">
                    <div class="info01">
                        <span class="info02">사단 정보</span>

                        <table border="0">
                            <tr>
                                <th>주소</th>
                                <td>강원도 철원군 서면 자등리 402 (금강로 7628)</td>
                            </tr>
                            <tr>
                                <th>사단 별칭</th>
                                <td>블라블라블라</td>
                            </tr>
                            <tr>
                                <th>식당 번호</th>
                                <td>
                                    백골회관:033-458-7540</br>
                                    삼성회관:033-458-5539
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="comm_info2">
                    <div class="info01">
                        <span class="info02">관련 뉴스</span>

                        <div>
                            <div class="news"></div>
                            <p>철원군.의회 "3사단 사령부 이전 재검토를"</p>
                        </div>
                        <div>
                            <div class="news"></div>
                            <p>철원군.의회 "3사단 사령부 이전 재검토를"</p>
                        </div>
                        <div>
                            <div class="news"></div>
                            <p>철원군.의회 "3사단 사령부 이전 재검토를"</p>
                        </div>
                        <div>
                            <div class="news"></div>
                            <p>철원군.의회 "3사단 사령부 이전 재검토를"</p>
                        </div>
                        <div>
                            <div class="news"></div>
                            <p>철원군.의회 "3사단 사령부 이전 재검토를"</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>