
<body>
    <header>
        <div class="wrap">
            <h1>
                <a href="/main" target="" title="">
                    <span>김이병</br>닷컴.</span>
                </a>
            </h1>
            
            <ul class="menu01">
                <li><a href="/main" target="" title="">탐색</a></li>
                <li><a href="/review?uid=1" target="" title="">사단리뷰</a></li>
                <li><a href="/local?uid=1" target="" title="">주변생활</a></li>
                <li><a href="/qna" target="" title="">궁금해요</a></li>
            </ul>

            <div class="topbtn">
                <button type="button" id="btnLogin">
                    <a href="login.ejs" target="" title=""><span>로그인</span></a>
                </button>

                <button type="button" id="btnJoin">
                    <a href="#" target="" title=""><span>회원가입</span></a>
                </button>
            </div>

            <div class="area-dept01"></div>
        </div>
    </header>
</body>