

  <!-- 카테고리바 -->
  <!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>김군화넷</title>
  </head>
  <link rel = "stylesheet" href = "../Stylesheet/main.css"/>
  <body>
  <div class = "category">
  <div class = "logo">
    <img src = ""/>
    <ul>
      <li>되는겨? </li>
      <li><%=teammate[0].name%></li>
      <li>서비스</li>
      <li>소셜임팩트</li>
      <li>고객지원</li>
      <li>인재영입</li>
    </ul>
  </div>
</div>

<!-- 메인 베너 -->
<div class = "top-banner">
  <img src = "" class = "banner-img"/>
  <div class = "floating-msg">
    기술과 사람으로<br>더 나은 세상을 만드는<br> 카카오입니다.
  </div>
</div>

<div class = "content">
  <div class = "main-box">
    <div class = "content-title">
      <span>카카오스러운 관점으로<br>세상을 바라봅니다</span>
    </div>
    <div class = "btn-subtitle">
      <img src = ""/>
      <span>카카오스러움이란</span>
    </div>
    <div class = "img-zone">
      <img src = ""/>
      <img src = ""/>
      <img src = ""/>
      <img src = ""/>
    </div>
  </div>

  <div class = "main-box">
    <div class = "content-title">
      <span>아무도 가보지 않은 길을 걷는<br>카카오의 이야기를 기록합니다.</span>
    </div>
    <div class = "btn-subtitle">
      <img src = ""/>
      <span>카카오 히스토리</span>
    </div>
    <div class = "img-zone">
      <img src = ""/>
      <img src = ""/>
      <img src = ""/>
      <img src = ""/>
    </div>
  </div>
</div>
</body>
</html>
<script>

</script>