

  <!-- 카테고리바 -->
  <!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>김군화넷</title>

  <link rel = "stylesheet" type="text/css" href = "Stylesheet/review.css"/>
  <link rel = "stylesheet" type="text/css" href = "Stylesheet/css_set.css"/>

</head>

<body>
  <%- include ("header")%>
<div class = "content">

<!-- 탑베너 -->
<div class = "top-banner">
  <div class = "top-banner-content">
    <img class = "army-mark" src = ""/>
    <div class = "banner-title">
      <span>3사단(18,22,23,포병 여단)</span>
    <div class = "banner-text">
      <img class = "banner-icon" src = "icon/crown.svg"/>
      <span>4.0 (128개 리뷰)</span>
    </div>
  </div>
   <div class = "review-btn">
     <span>이 사단 리뷰하기</span>
   </div>
 </div>
</div>

 <!-- 중간 카테고리 -->
 <div class = "category">
   <div class = "category-content">
     <div class = "category-cell now-state">
       <span>리뷰</span>
     </div>
     <div class = "category-cell">
      <span>커뮤니티</span>
    </div>
    <div class = "category-cell">
      <span>주변생활</span>
    </div>
   </div>
 </div>

 <div class = "bottom-background">
  <div class = "bottom-content">
    <div class = "bottom-content-left">
      <div class = "text-box">
        <span>3사단 리뷰</span>
      </div>
    </div>
    <div class = "bottom-content-right">
      <div class = "text-box">
        <span>사단 정보</span>
      </div>
    </div>
  </div>
 </div>


  </div>
</body>
</html>
<script>

</script>