body {
    font-family: NanumSquare;
    font-style: normal;
    font-weight: 800;
    background:#f4f6f9;
}
#wrapper {
    background:#f4f6f9;
}
.comm_head {
    background-color:#ECECEC;
    height:252px;
}
.head_in {
    width:1110px; 
    margin:0 auto;
}
.head_img img {
    float:left;
    width:140px;
    height:140px;
    margin:72px 40px 0 0;
    background:#C4C4C4;
}
.banner {
    float:left;
}
.head_text {
    width: 366px;
    height: 18px;
    left: 346px;
    top: 232px;

    font-family: NanumSquare;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 18px;
    display: flex;
    align-items: center;

    letter-spacing: -2px;

    color: #000000;
    margin-top:144px;
}
.img02 {margin:32px 12px 0 0;}
#review a {
    background:#000;
    color:#fff;
    padding:13px 60px;
}
#review {
    margin:auto;
    border:none; 
    background-color:#000;
    margin-top:190px;
    float:right;
}



.subMenu {
    height:54px;
    border:1px solid #E0E0E0;
    background:#fff;
}
.menuArea {width:1110px; margin:0 auto;}
.menu li {
    float:left;
    font-size:15px;
    margin-left:50px;
    margin-right:60px;
    padding:18px 0;
}
.menu li:hover {
    border-bottom:4px solid #000;
    font-weight:bold;
}
.menu a { text-decoration:none; list-style:none; }



.wrap { width:1110px; margin:0 auto; }

.search {
    width:760px;
    height:262px;
    margin:20px 20px 20px 0;
    background:#fff;
}
.search_commu {
    padding:40px 0 0 40px;
    font-size:24px;
    line-height:18px;
    font-weight:800;
    display:flex;
    align-items:center;
    color:#000;
}
.search input {
    border:2px solid black;
    width: calc(100% - 86px);
    height: 60px;
    margin:40px 0 0 40px;
    color:#ccc;
    font-size:17px;
} 

.recommen_k {
    width:680px;
    font-family: NanumSquare;
    font-style: normal;
    margin:30px 0 0 40px;
    font-size:14px;
    font-weight:800;
    line-height:23px;
    color: #B2A835;
}
.recommen_k span {
    margin-right:20px;
}
.recomm {color:#000;}


.community {
    width:760px;
    background:#fff;
    padding-bottom:100px;
}
/*
.community select {
    width:240px;
    height:42px;
    border:1px solid #ccc;
    margin:40px 0 10px 40px;
}
.community select:last-child {margin-left:15px;}*/

.comm01 {
    margin:40px 0 0 40px;
    width:680px;
}
.comm01:nth-child(1) {padding-top:40px;}
.title {
    font-family: NanumSquare;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}
.comm01 p {
    margin:25px 0 20px 0;
    font-size:14px;
    line-height:18px;
}
.flo {
    float:left;
    margin-right:30px;
}
.border {
    border-bottom:1px solid #eee; 
    width:720px;
    margin:0 auto;
    padding-bottom:30px;
}

#wrapper { background:#f4f6f9;}
.wrap_L { width:760px; float:left; background:#f4f6f9; }
.wrap_R { width:330px; height:1700px; float:left; background:#f4f6f9; }

/* 사단 정보 */
.comm_info {
    width:330px;
    height:220px;
    background:#fff;
    clear:both;
    margin:20px 0 20px 20px;
}
.info01 {
    padding:28px 0 0 20px;
}
.info02 {
    font-family: NanumSquare;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    color:#000;
}
.info01 table {margin-top:10px;}
.info01 th {
    font-family: NanumSquare;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    width:60px;
    padding:15px 0;
}
.info01 td {
    font-family: NanumSquare;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    width:197px;
    padding-left:15px;
}

/* 관련 뉴스 */
.comm_info2 {
    width:330px;
    height:1306px;
    background:#fff;
    clear:both;
    margin:20px 0 20px 20px;
}
.news {
    width:290px;
    height:174px;
    background:#C4C4C4;
    margin:30px 0 15px;
}
.info01 p { font-family: NanumSquare;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}


