/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
	background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer
}

/* input 기본 스타일 초기화 */
input {
	-webkit-appearance: none;
		 -moz-appearance: none;
					appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
		 -moz-appearance: none;
					appearance: none;
}

html, body, div, p, span, strong, b, em, iframe, pre, h1, h2, h3, h4, h5, h6, img, dl, dt, dd, fieldset, form, legend, label, table, caption, thead, tbody, tfoot, tr, th, td, ul, ol, li, a, input, select, textarea {margin: 0;padding: 0; border: 0 none; } 
body {font-family: MalgunGothic, '맑은 고딕','돋움', Dotum, AppleGothic, Sans-serif, Arial; font-size: 12px; line-height: 1;color: #333;}
 ul, ol, li {list-style: none;}
 em, address {font-style: normal;}
 img {border: 0 none; font-size: 0;line-height: 0;}
 sup {position: relative;top: 2px;font-size: 11px;line-height: 100%;}
 table {border-collapse: collapse; border-spacing:0; }
 caption {overflow: hidden;width: 0;height: 0;font-size: 0; line-height: 0;}
 th, td { vertical-align: middle;/* white-space: nowrap */}
 a {color: #333; text-decoration: none; line-height: 1;}
 a:hover, a:focus, a:active {text-decoration: none;}
 a:visited {color: #333;}
 a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration: none;}

 *, html {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
 *, *:before, *:after {box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}


 /* header.css */
 header {font-family: NanumSquare; 
	font-style: normal;
	font-weight: 800;
	font-size: 22px;
	line-height: 18px;

	display: flex;
	align-items: center;
	letter-spacing: -2px;

	color: #000000;}
header {height:88px; border-bottom:1px solid #145A04; background:#fff;}
.wrap {width:1110px; margin:0 auto;}

h1 {
float:left;
padding:15px 60px 0 0;
clear:both;
}
h1 span {
color:#145A04; 
font-weight:bold;
font-size:30px;
}
h1 a { 
text-decoration:none; 
}
.menu01 {
float:left; 
list-style:none;
}
.menu01 li {            
float:left; 
padding: 33px 20px;
}
.menu01 li:hover {border-bottom:3px solid #145A04;}
.menu01 a { 
color:#000;
text-decoration:none;
font-weight:bold;
}
.menu01 a:hover { color:#145A04; }
.topbtn {
float:right;
}
#btnLogin a {
background:#fff;
color:#145A04;
padding:15px 20px;
}
#btnJoin a {
background:#145A04;
color:#fff;
padding:15px 20px;
}
#btnLogin {
margin:auto;
border:none; 
background-color:#fff;
margin-top:35x;
}
#btnJoin {
margin:auto;
border:none; 
background-color:#145A04;
margin-top:35px;
}