
.content{}

/* 정렬 순 기능 */
select {
  width:240px;
  height:42px;
  border:1px solid #ddd;
  margin:40px 0 10px 40px;
}
select:last-child { margin-left:15px; }




.top-banner{
  height: 252px;
  width: 100%;
  background: #ECECEC;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
  padding-bottom: 40px;
}

.top-banner-content{
  width: 100%;
  max-width: 1100px;
  height: auto;
  display: flex;
  position: relative;
}

.army-mark{
  width: 140px;
height: 140px;
margin-right: 40px;
}
.banner-title{
  margin-top: auto;
  margin-bottom: 0px;
}
.banner-title > span{
  font-family: NanumSquare;
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 18px;
/* identical to box height, or 56% */
display: flex;
align-items: center;
margin-bottom: 32px;
}
.banner-text{
  display: flex;
}
.banner-text > span{
  font-family: NanumSquare;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
letter-spacing: -0.012em;

}


.review-btn{
  display: flex;
flex-direction: row;
align-items: center;
padding: 12px 60px;

position: absolute;
width: 219px;
height: 42px;
right: 0px;
bottom: 0px;
color: #FFF;
background: #0A0A0A;

}

.review-btn>span{
  
font-family: NanumSquare;
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.3px;

}
.category{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  
background: #FFFFFF;
/* Gray 5 */

border: 1px solid #E0E0E0;
}

.category-content{
  max-width: 1100px;
  width: 100%;
  display: flex;
  height: 54px;
}

.category-cell{
  height: 54px;
  padding: 12px;
  margin-right: 60px;
  display: flex;
align-items: center;
}
.category-cell>a>span{
  font-family: NanumSquare !important;
font-style: normal !important;
font-weight: bold !important;
font-size: 18px !important;
line-height: 18px !important;
/* identical to box height, or 100% */
letter-spacing: 0.2px !important;
color: #000000 !important;
}

.now-state{
  border-bottom: 4px solid #000000 !important;
}

.now-state>a>span{
  font-weight: 800 !important;
}

.bottom-background{
  width: 100%;
  height: auto;
  background: #f4f6f9;
display: flex;
justify-content: center;
}
.bottom-content{
  display: flex;
  max-width: 1100px;
  width: 100%;
  margin-top: 20px;
}

.bottom-content-left{
  width: 760px;
  margin-right:20px;
}
.bottom-content-right{
  width: 330px;
}
.text-box{
  width: 100%;
  background: #FFF;

}
.bottom-content-left > .text-box{
  width: 760px;
  padding:40px;
  height: auto;
}

.bottom-content-left > .text-box > span{
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 18px;
  /* identical to box height, or 75% */
  
  display: flex;
  align-items: center;
  
  color: #000000;
}
.bottom-content-right > .text-box{
  width: 330px;
  padding:28px;
  height: auto;
}

.bottom-content-right > .text-box > span{
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  
  display: flex;
  align-items: center;
  letter-spacing: -0.4px;
  
  color: #000000;
}
.total-review{
  display: flex;
  margin-top: 40px;
  align-items: center;

}

.total-review>span{
  margin-right: 12px;
  font-family: NanumSquare;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
letter-spacing: -0.4px;
}
.total-review-icon{
  width: 30px;
  height: 20px;
  margin-right: 6px;
}
.total-review-icon:last-child{
  margin-right: 28px;
}

.total-review-text{
  font-family: NanumSquare;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

display: flex;
align-items: center;
letter-spacing: -0.4px;
margin-top: auto;
margin-bottom: 0px;
}
.sub-review{
  width: 411px;
}
.sub-review-cell{
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.sub-review-cell:first-child{
  margin-top: 20px;
}
.sub-review-cell > span{
  font-family: NanumSquare;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  margin-right: 8px;
  display: flex;
  align-items: center;
  letter-spacing: -0.4px;
}

.sub-review-cell > span:last-child{
margin-left: 12px;
}

.bar-graph{
  width: 274px;
height: 6px;
margin-left: 16px;
background: #E0E0E0;
border-radius: 10px;
}

.vertical-line{
  height: 192px;
  width: 1px;
  background: #F2F2F2;
}
.personal-review{
  display: flex;
  margin-top: 40px;
}
.personal-review:first-child{
  margin-top: 0px;
}
.personal-review-left{
  width: 210px;
}

.personal-review-left > span{
  font-family: NanumSquare;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 18px;

}

.personal-review-right > span:first-child{
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  color:  #000000;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.personal-review-right > span{
  font-family: NanumSquare;
font-style: normal;
font-weight: 800;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
/* Gray 3 */
color: #828282;
margin-bottom: 16px;
}

.personal-review-title{
  font-family: NanumSquare;
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

display: flex;
align-items: center;
margin-top: 16px;
margin-bottom: 8px;
}

.personal-review-text{
  
font-family: NanumSquare;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* or 129% */

display: flex;
align-items: center;

}

.helpful-btn{
  width: 127px;
height: 30px;
  border: 0.8px solid #828282;
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
margin-top: 20px;
}

.helpful-btn>span{
  font-family: NanumSquare;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
margin-left: 4px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.3px;

}


.info-cell{
  display: flex;
  width: 100%;
  height: 36px;
  margin-bottom: 12px;
}

.info-title{
  font-family: NanumSquare;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
width: 80px !important;
display: flex;
align-items: center;
letter-spacing: -0.4px;
}

.info-text{
  font-family: NanumSquare;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  width: calc(100% - 80px);
  display: flex;
  align-items: center;
  letter-spacing: -0.4px;
}

.news-img{
  width: 270px;
height: 174px;
background: #C4C4C4;
}

.news-text{
  font-family: NanumSquare;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
margin:12px 0px;
display: flex;
align-items: center;
letter-spacing: -0.4px;
}